.main-section{
    text-align: center;
	margin: 0px auto;
	padding: 100px;
	margin-top: 100px;
	background-color: #fff;
	box-shadow: 0px 0px 20px #cacaca;
}


.fileinput-remove,
.fileinput-upload{
	display: none;
}